$font-stack: 'Lato', sans-serif;

// colors
$drab-dark-brown: #494331;
$battleship-grey: #878472;
$baby-blue: #9dd1f1;
$columbia-blue: #c8e0f4;
$yale-blue: #083d77;
$box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
$black: #000;
$white: #fff;
$gallery-screen: url("/images/pile-dry-sand-isolated-on-white-background-free-photo.jpg");
$form-border: 1px solid #ccc;
$focus-border: #80bdff;
$focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
$warning: rgb(237, 162, 0);
$active-link: rgb(94, 94, 157);
$footer-color: rgb(27, 27, 23);
$form-width: 600px;

// images
$home-background: "/images/pocket-watch-3156771_1280.jpg";
$capsules-background: "/images/pocket-watch-3156771_1280.jpg";
$show-background: "/images/pocket-watch-3156771_1280.jpg";
$new-background: "/images/pocket-watch-3156771_1280.jpg";
$edit-background: "/images/pocket-watch-3156771_1280.jpg";
$error-404: "/images/pocket-watch-3156771_1280.jpg";
$signup-background: "https://www.pexels.com/photo/photo-of-night-sky-1025469";
$sand-image: "/images/pile-dry-sand-isolated-on-white-background-free-photo.jpg";
// hourglass image source https://pixabay.com/photos/indoor-time-waiting-classic-mood-5235953/
